ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: cover;
    background-color: #8756b1;
    border: 1px solid #555;
}
li a {
    color: #000;
    text-decoration: none;
}
li {
    float: right;
    padding: 8px 50px;
    text-decoration: none;
    text-align: center;
    background-color: #2756b1;
    color: white;
    border-bottom: solid transparent;
    /*padding-right: 30px;
    border-bottom: 1px solid #555;*/
}

li:hover {
    background-color: #555;
    color: white;
}

.menu {
  background: linear-gradient(to top, #ffff99 0%, #ff9999 100%);
  /*background-image: url(picture.jpg);*/
  position: absolute;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.mid {
  background: linear-gradient(to top, #ffff99 0%, #ff9999 100%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}

h1{
  color: #1803E5;
  margin-top: 200px;
  margin-left: 100px;
}

.circle {
  width: 100px;
  height: 100px;
  box-shadow: inset 0 -5px 15px rgba(255,255,255,0.4), 
			inset -2px -1px 40px rgba(0,0,0,0.4), 
			0 0 1px #000;	
  border-radius: 100px;
  position:absolute;
  top:20%;
  left:50%;
}

#bubbleWrapper {
	width: 140px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -150px 0 0 -70px;
}
