// NOTE - This is autocompiled SCSS
$weirdGreen: #6EBBAB;

/* Always applied, only in a media query to keep it organized */
@media only screen and (min-width: 1px)
{
    .gridContainer
    {
        display: grid;
        
        grid-template-rows: auto auto auto;

        // Nonexistent columns
        grid-template-columns: 0px 10fr 0px;
    }

    .siteStructureColumn 
    {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .navbar 
    {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 1;
        grid-row-end: 2;
    }

    #personalizationFooter
    {
        grid-column-start: 1;
        grid-column-end: 4;

        grid-row-start: 3;
        grid-row-end: 4;

        width: 100%;
    }

    .leftColumn 
    {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .middleColumn 
    {
        grid-column-start: 2;
        grid-column-end: 3;

        text-align: center;

        display: relative;

        padding: 30px;

        text-align: left;
        
        .personalizedOverallTitle
        {
            color: $weirdGreen;
            font-weight: 650;
        }

        .personalizedSectionTitleContainer
        {
            padding-bottom: 10px;
            border-bottom: 1px gray solid;

            .personalizedSectionTitle
            {
                color: $weirdGreen;
                font-weight: 550;
            }
        }

        .titleInformationContainer
        {
            position: relative;

            min-height: 180px;

            .personalizedTitleLeftPart 
            {
                position: absolute;

                left: 0;
                top: 0;
            }

            .personalizedTitleRightPart
            {
                position: absolute;

                right: 0;
                top: 0;

                padding-left: 50px;

                .personalizedTitleRightPartHeader
                {
                    font-weight: 800;

                    margin-top: 20px;
                }

                .personalizedTitleRightPartHeader:first-child 
                {
                    margin-top: 0;
                }
            }
        }

        // Man, what a class name 
        .personalizedRecommendedSupportHeaderContainer
        {
            color: $weirdGreen;

            width: 100%;

            margin-bottom: 50px;
        }

        .personalizedBoxContainer 
        {
            padding: 20px 0;
            border-bottom: 1px gray solid;

            // Todo - Figure out a consistent method of padding so it looks more like the picture 
            div, p, ul, li, a
            {
                font-size: 18px;
            }

            .personalizedBoxContainerTitle
            {
                color: $weirdGreen;
                font-size: 30px;
                font-weight: 700;
                margin: 0;
                padding: 0;
            }

            .personalizedBoxContainerLink
            {
                color: black;
            }

            .personalizedBoxContainerLinkButton 
            {
                background-color: $weirdGreen;

                padding: 5px 10px;
                border-radius: 15px;

                width: fit-content;

                margin: 10px 0;

                color: white;

                margin: 0;
                margin-bottom: 20px;
            }
            
            .personalizedBoxContainerDescription
            {
                color: black;
            }           

        }

        .personalizedPictureContainer
        {
            position: relative;

            padding: 20px 0;

            > img, > div 
            {
                display: inline-block;
            }

            // Todo - Hide the picture if it gets too small (going to have to modify div positioning too, but that isn't hard)
            > img 
            {
                // Todo - FIgure out if there are better, more scalable versions of this 
                width: 150px;
                height: 200px;
            }

            div 
            {
                position: absolute;

                top: 0;
                left: 150px;
                padding-left: 15px;
            }
        }
    }

    .rightColumn 
    {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    .gridContainer
    {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .gridContainer 
    {
        // 15% width each 
        grid-template-columns: 2fr 14fr 2fr;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .gridContainer 
    {
        // 20% width each 
        grid-template-columns: 2fr 8fr 2fr;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}