// NOTE - This is autocompiled SCSS

/* Always applied, only in a media query to keep it organized */
@media only screen and (min-width: 1px)
{
    .gridContainer
    {
        display: grid;
        
        grid-template-rows: 1fr;

        // Nonexistent columns
        grid-template-columns: 0px 10fr 0px;
    }

    .siteStructureColumn 
    {
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .leftColumn 
    {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .middleColumn 
    {
        grid-column-start: 2;
        grid-column-end: 3;

        text-align: center;

        display: relative;

        padding: 30px;

        text-align: left;
        
        .titleInformation 
        {
            position: relative;

            min-height: 250px;

            .personalizedTitleLeftPart 
            {
                h1 
                {
                    font-size: .8rem;
                    font-weight: 650;
                }

                position: absolute;

                left: 0;
                top: 0;
            }

            .personalizedTitleRightPart
            {
                position: absolute;

                right: 0;
                top: 50px;

                border-left: 1px gray solid;

                padding-left: 50px;

                .personalizedTitleRightPartHeader
                {
                    font-weight: 800;

                    margin-top: 20px;
                }

                .personalizedTitleRightPartHeader:first-child 
                {
                    margin-top: 0;
                }
            }
        }
    }

    .rightColumn 
    {
        grid-column-start: 3;
        grid-column-end: 4;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    .gridContainer
    {
        grid-template-columns: 1fr 8fr 1fr;
    }

    .middleColumn 
    {
        .titleInformation 
        {
            .personalizedTitleLeftPart 
            {
                h1 
                {
                    font-size: 1.5rem;
                }
            }
        }
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    .gridContainer 
    {
        // 15% width each 
        grid-template-columns: 2fr 14fr 2fr;
    }

    .middleColumn 
    {
        .titleInformation 
        {
            .personalizedTitleLeftPart 
            {
                h1 
                {
                    font-size: 2rem;
                }
            }
        }
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    .gridContainer 
    {
        // 20% width each 
        grid-template-columns: 2fr 8fr 2fr;
    }

    .middleColumn 
    {
        .titleInformation 
        {
            .personalizedTitleLeftPart 
            {
                h1 
                {
                    font-size: 3rem;
                }
            }
        }
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
{

}