// NOTE - This is SCSS, which is autocompiled into CSS (which is why the CSS file looks so weird) 
$weirdGreen: #6EBBAB;

// Different font weights used
$lightFontWeight: 100;
$mediumFontWeight: 400;
$heavyFontWeight: 700;

/* Always applied, only in a media query to keep it organized */
@media only screen and (min-width: 1px)
{
    // ! Grid setup, positioning, and sizing 
    // Parent element - Enables grid properties for all children 
    .gridContainer { display: grid; grid-template-columns: 0 100fr 0; } 
    
    // Column-Specific  
    .leftColumn { grid-column-start: 1; grid-column-end: 2; }
    .middleColumn { grid-column-start: 2; grid-column-end: 3; }
    .rightColumn { grid-column-start: 3; grid-column-end: 4; }
    nav, footer { grid-column-start: 1; grid-column-end: 4; }

    // Row-Specific 
    nav { grid-row-start: 1; grid-row-end: 2; }
    .siteStructureColumn { grid-row-start: 2; grid-row-end: 3; }    
    footer { grid-row-start: 3; grid-row-end: 4; width: 100%;}

    // ! Text Coloring Classes
    .blackText { color: black; }
    .greenText { color: $weirdGreen; }

    // ! Navbar-Specific Styling 
    // Most navbar styling is in the other stylesheet (the one inheriting styles from the dashboard page) 

    // ! Page Content-Specific Styling 

    // ! Footer-Specific Styling
    footer 
    {
        // Otherwise, grid will make the element the size of its children/content, which is less than the width of the screen 
        width: 100%; 
    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px)
{
    // ! Grid positioning, sizing 
    .gridContainer
    {
        grid-template-columns: 1fr 8fr 1fr;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) 
{
    // ! Grid positioning, sizing 
    .gridContainer 
    {
        // 15% width each 
        grid-template-columns: 10fr 80fr 10fr;
    }
    
    .pPageTitleContent 
    {
        display: relative;

        .pPageTitleLeftContent
        {
            display: absolute;

            left: 0;
            top: 0;
        }

        .pPageTitleRightContent 
        {
            display: absolute;

            right: 0;
            top: 0;
        }
    }    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
{
    // ! Grid positioning, sizing 
    .gridContainer 
    {
        // 20% width each 
        grid-template-columns: 2fr 8fr 2fr;
    }
}