* {
    box-sizing: border-box;
}

/*Navigation bar*/
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  text-align: center;
  background-color: #6ebbab;
}

li a {
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #A0DACF;
  color: white;
  text-decoration: none;
}

.menu .col-3:hover {
  background-color: #A0DACF;
}

/*Survey questions*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

.material-icons.mwc-button {
  font-family:var(--mdc-icon-font, "Material Icons");font-weight:normal;font-style:normal;font-size:var(--mdc-icon-size, 24px);line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased
}

.header {
    background-color: #339911;
    color: #ffffff;
    padding: 15px;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
    /*border: 1px solid black;*/
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.btn-group {
     list-style-type:none;
     margin:25px 0 0 0;
     padding:0;
}

.btn-group input[type="radio"] {
    opacity:0.01;
}

.btn-group label {
     padding:5px;
     border:1px solid #CCC;
     cursor: pointer;
}

.btn-group label:hover {
     background:#DDD;
}

.btn-group input[type="radio"]:checked + label,
.Checked + label {
    background:yellow;
}
