* {
    box-sizing: border-box;
}

/*Navigation bar*/
.menu li {
  list-style-type: none;
  margin: 0;
  padding: 10px 10px;
  overflow: hidden;
  text-align: center;
  background-color: #6EBBAB;
}

.menu li a {
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white;
}

li:hover {
  background-color: #A0DACF;
  color: white;
  text-decoration: none;
}

.menu .active{
  background-color: #A0DACF;
}

/*Survey questions*/
.row::after {
    content: "";
    clear: both;
    display: table;
}
.header {
    background-color: #339911;
    color: #ffffff;
    padding: 15px;
}

[class*="col-"] {
    float: left;
    /*padding: 15px;
    border: 1px solid black;*/
}

.col-1 {width: 8.33%;}
.col-1_5 {width: 12.5%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.questions {
    height: 70px;
}
.btn-group {
    position: relative;
    appearance: button;
    list-style-type:none;
    margin-top: 0px;
    margin: 25px 0 0 0;
}

.btn-group input[type="radio"] {
    display: none;
}

.btn-group label {
    padding: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
}

.btn-group label:hover {
     background:#DDD;
     align-self: end;
}

.btn-group input[type="radio"]:checked + label,
.Checked + label {
    text-align: center;
    background: lightblue;
}

}
