/* Always applied, only in a media query to keep it organized */
@media only screen and (min-width: 1px) {
  .gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    -ms-grid-columns: 0px 10fr 0px;
        grid-template-columns: 0px 10fr 0px;
  }
  .siteStructureColumn {
    -ms-grid-row: 2;
        grid-row-start: 2;
    grid-row-end: 3;
  }
  .navbar {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 2;
  }
  #personalizationFooter {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
  }
  .leftColumn {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
  }
  .middleColumn {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    display: relative;
    padding: 30px;
    text-align: left;
  }
  .middleColumn .personalizedOverallTitle {
    color: #6EBBAB;
    font-weight: 650;
  }
  .middleColumn .personalizedSectionTitleContainer {
    padding-bottom: 10px;
    border-bottom: 1px gray solid;
  }
  .middleColumn .personalizedSectionTitleContainer .personalizedSectionTitle {
    color: #6EBBAB;
    font-weight: 550;
  }
  .middleColumn .titleInformationContainer {
    position: relative;
    min-height: 180px;
  }
  .middleColumn .titleInformationContainer .personalizedTitleLeftPart {
    position: static;
    display: block;
    font-size: 18px;
  }
  .middleColumn .titleInformationContainer .personalizedTitleRightPart {
    font-size: 16px;
    position: static;
    display: block;
  }
  .middleColumn .titleInformationContainer .personalizedTitleRightPart .personalizedTitleRightPartHeader {
    font-weight: 800;
    margin-top: 20px;
  }
  .middleColumn .titleInformationContainer .personalizedTitleRightPart .personalizedTitleRightPartHeader:first-child {
    margin-top: 0;
  }
  .middleColumn .personalizedRecommendedSupportHeaderContainer {
    color: #6EBBAB;
    width: 100%;
    margin-bottom: 50px;
  }
  .middleColumn .personalizedBoxContainer {
    padding: 20px 0;
    border-bottom: 1px gray solid;
  }
  .middleColumn .personalizedBoxContainer div, .middleColumn .personalizedBoxContainer p, .middleColumn .personalizedBoxContainer ul, .middleColumn .personalizedBoxContainer li, .middleColumn .personalizedBoxContainer a {
    font-size: 18px;
  }
  .middleColumn .personalizedBoxContainer .personalizedBoxContainerTitle {
    color: #6EBBAB;
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
  }
  .middleColumn .personalizedBoxContainer .personalizedBoxContainerLinkButton {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #6EBBAB;
    padding: 10px;
    border-radius: 15px;
    color: white;
  }
  .middleColumn .personalizedBoxContainer .personalizedBoxContainerDescription {
    margin-top: 20px;
    color: black;
    font-size: 18px;
  }
  .middleColumn .personalizedPictureContainer {
    position: relative;
    padding: 10px 0;
  }
  .middleColumn .personalizedPictureContainer > div {
    display: block;
    font-size: 18px;
  }
  .middleColumn .personalizedPictureContainer > img {
    width: 150px;
    height: 200px;
    display: none;
  }
  .middleColumn .personalizedPictureContainer div a {
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
    color: white;
    background-color: #6EBBAB;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;
  }
  .middleColumn .personalizedPictureContainer div .personalizedPictureContainerParagraph {
    margin-top: 30px;
  }
  .rightColumn {
    -ms-grid-column: 3;
        grid-column-start: 3;
    grid-column-end: 4;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .gridContainer {
    -ms-grid-columns: 1fr 8fr 1fr;
        grid-template-columns: 1fr 8fr 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 800px) {
  .middleColumn .personalizedPictureContainer > img {
    display: inline-block;
  }
  .middleColumn .personalizedPictureContainer > div {
    position: absolute;
    top: 0;
    left: 150px;
    padding-left: 15px;
  }
  .gridContainer {
    -ms-grid-columns: 2fr 14fr 2fr;
        grid-template-columns: 2fr 14fr 2fr;
  }
  .middleColumn .titleInformationContainer .personalizedTitleLeftPart {
    position: absolute;
    left: 0;
    top: 0;
  }
  .middleColumn .titleInformationContainer .personalizedTitleRightPart {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .gridContainer {
    -ms-grid-columns: 2fr 8fr 2fr;
        grid-template-columns: 2fr 8fr 2fr;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
/*# sourceMappingURL=personalized.css.map */